{% set check_tags = ["permanent", "inherent", "n_a", "not_applicable"] %}
{% set rule_arch = "" %}
{% if "supplemental" not in rule.rule_id and not (rule.tags | select("in", check_tags) | list) %}
  {% if rule.check %}
  #####----- Rule: {{ rule.rule_id }} -----#####
  ## Addresses the following NIST 800-53 controls:
  {{ rule.references.nist.nist_800_53r5 | group_ulify if rule.references.nist.nist_800_53r5 is not none else "# * N/A" }}

  {% if "arm64" in rule.tags %}
  {% set rule_arch = "arm64" %}
  {% elif "i386" in rule.tags %}
  {% set rule_arch = "i386" %}
  {% endif %}

  check_command="{{ rule.check | replace("\\\\", "\\") | replace('\"', '\\\"') | replace('$', '\$') | trim | safe }}"

  audit_rule "{{ rule.rule_id }}" "$check_command" "{{ rule.result_value | string }}" "{{ rule | log_reference(reference_log_id) }}" "{{ rule_arch }}"

  {% endif %}
{% endif %}
