:doctype: book
:stylesdir: {{ styles_dir }}
:imagesdir: {{ images_dir }}
:stylesheet: asciidoctor.css
:experimental:
:reproducible:
:icons: font
:chapter-label:
:!chapter-signifier:
:listing-caption: Listing
:sectnums:
ifdef::backend-html5[]
:toc: preamble
endif::[]
ifdef::backend-pdf[]
:toc: []
endif::[]
:toclevels: 4
:xrefstyle: full
:source-highlighter: rouge
:nofooter:
{% if "800-171" in baseline.title | upper or show_all_tags %}:show_171:{% else %}:show_171!:{% endif +%}
{% if "STIG" in baseline.title | upper or show_all_tags %}:show_STIG:{% else %}:show_STIG!:{% endif +%}
{% if "CIS" in baseline.title | upper or show_all_tags %}:show_cis:{% else %}:show_cis!:{% endif +%}
{% if "CMMC" in baseline.title | upper or show_all_tags %}:show_CMMC:{% else %}:show_CMMC!:{% endif +%}
{% if "INDIGO" in baseline.title | upper or show_all_tags %}:show_indigo:{% else %}:show_indigo!:{% endif +%}
{% if show_all_tags %}:show_tags:{% else %}:show_tags!:{% endif +%}
:version: {{ version }} ({{ release_date }})
:os: {{ os_version }}
:proj-title: {{ baseline.title }}
:document-title: {{ html_title }}
:document-subtitle: {{ html_subtitle }}
{{ document_subtitle2 }}
:logo-image: image:{{ logo }}[align=center]
ifdef::backend-pdf[]
= {document-title}: {document-subtitle}
{version}
:pdf-themesdir: {stylesdir}
:pdf-theme: {{ pdf_theme }}
:title-logo-image: {logo-image}
:nofooter!:
endif::[]
:data-uri:
:allow-uri-read:
ifdef::backend-html5[]
:notitle:

++++
<div class="title-page">
++++
{logo-image}

[subs=attributes]
++++
  <div class="document-info" id="os" name="{os}">
    <h1 class="doctitle">{document-title}</h1>
    <h2 class="docsub">{document-subtitle}</h2>
    <h3 class="docver">{document-subtitle2}</h3>
    <h3 class="docver">{version}</h3>
  </div>
</div>
++++
endif::[]
