{% from "macros.jinja" import render_rules %}
{% set check_tags = ["permanent", "inherent", "n_a"] %}
=== {{ rule.title | replace("\|", "|") }}

{% if not "supplemental" in rule.tags %}
{{ rule.discussion }}
{% else %}
{{ rule.discussion | replace("\|", "|") }}
{% endif %}

{%- if rule.mechanism == "manual" %}
NOTE: This rule is marked as manual and may not be able to be automated. It is also excluded in the compliance scan and will not report any results.
{% endif -%}

{%- if not "supplemental" in rule.tags %}
{% if os_name == "macos" or custom and rule.tags not in check_tags %}
To check the state of the system, run the following command(s):
[source,bash,options="nowrap"]
----
{% endif -%}
{{ rule.check | replace("\|", "|") }}

{% if not rule.tags in check_tags %}
----

If the result is not *{{ rule.result_value }}*, this is a finding.

====
**Remediation Description**

Perform the following to configure the system to meet the requirements:
{{ rule.fix | replace("\|", "|") }}
====
{% endif %}
[cols="15%h, 85%a"]
|===

|ID
|{{ rule.rule_id | replace("\|", "|") }}

{{ rule.severity if rule.severity is not none and rule.tags not in check_tags }}

|References
|

[cols="20%h,80%a"]
[frame="none"]
[grid="cols"]
!===

!800-53r5
!
{{ rule.references.nist_controls | group_ulify if rule.references.nist_controls is not none else "* N/A" }}

ifdef::show_171[]
!800-171r3
!
{{ render_rules(rule.references.nist_171) if rule.references.nist_171 is not none else "* N/A" }}
endif::[]

ifdef::show_STIG[]
!DISA STIG(s)
!
{{ render_rules(rule.references.disa_stig) if rule.disa_stig is not none else "* N/A" }}

!SFR
!
{{ render_rules(rule.sfr) if rule.sfr is not none else "* N/A" }}
endif::[]

ifdef::show_CIS[]
!CIS Benchmark
!
{{ render_rules(rule.references.cis.benchmark) if rule.references.cis.benchmark is not none }}

!CIS Controls V8
!
{{ render_rules(rule.references.cis.controls_v8) if rule.references.cis.controls_v8 is not none }}
endif::[]

ifdef::show_indigo[]
!indigo
!
{{ render_rules(rule.references.indigo) if rule.references.indigo is not none }}
endif::[]

ifdef::show_CMMC[]
!CMMC
!
{{ render_rules(rule.references.cmmc) if rule.references.cmmc is not none }}
endif::[]

!CCE
!
{{ render_rules(rule.references.cce) if rule.references.cce is not none -}}

{% if custom %}
! Custom References
!
{{ render_rules(rule.references.custom_refs) if rule.references.custom_refs is not none }}
{% endif %}

ifdef::show_tags[]
!TAGS
!
{{ render_rules(rule.tags) if rule.tags is not none else "* N/A" }}
endif::[]

!===

|
|===
{% endif %}
