## Applicable Documents

### Government Documents

#### National Institute of Standards and Technology (NIST)

| Document Number or Descriptor                                                                       | Document Title                              |
|-----------------------------------------------------------------------------------------------------|---------------------------------------------|
| [NIST Special Publication 800-53 Rev 5](https://nvd.nist.gov/800-53)                                | _NIST Special Publication 800-53 Rev 5.1.1_ |
| [NIST Special Publication 800-63](https://www.nist.gov/itl/tig/projects/special-publication-800-63) | _NIST Special Publication 800-63_           |
| [NIST Special Publication 800-171](https://csrc.nist.gov/pubs/sp/800/171/r3/final)                  | _NIST Special Publication 800-171 Rev 3_    |
| [NIST Special Publication 800-219](https://csrc.nist.gov/pubs/sp/800/219/r1/final)                  | _NIST Special Publication 800-219 Rev 1_    |

{% if "STIG" in baseline.title %}
#### Defense Information Systems Agency (DISA)

| Document Number or Descriptor | Document Title |
|-------------------------------|----------------|
{% for link in additional_links.disa_stig %}
| [{{ link.label }}]({{ link.url }}) | _{{ link.title }}_ |
{% endfor %}
{% endif %}

#### Cybersecurity Maturity Model Certification (CMMC)

| Document Number or Descriptor | Document Title |
|----------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------|
| [CMMC Model Overview v2.0](https://dodcio.defense.gov/Portals/0/Documents/CMMC/ModelOverview_V2.0_FINAL2_20211202_508.pdf) | _Cybersecurity Maturity Model Certification (CMMC) Model Overview v2.0_ |

#### Committee on National Security Systems (CNSS)

| Document Number or Descriptor | Document Title |
|------------------------------------------------------------------------|-------------------------------------------------------------------------------|
| [CNSSI No. 1253](https://www.cnss.gov/CNSS/issuances/Instructions.cfm) | _Security Categorization and Control Selection for National Security Systems_ |

### Non-Government Documents

#### Apple

| Document Number or Descriptor                                                                                             | Document Title                  |
|---------------------------------------------------------------------------------------------------------------------------|---------------------------------|
| [Apple Platform Security Guide](https://support.apple.com/guide/security/welcome/web)                                     | _Apple Platform Security_       |
| [Apple Platform Deployment](https://support.apple.com/guide/deployment/welcome/web)                                       | _Apple Platform Deployment_     |
| [Apple Platform Certifications](https://support.apple.com/guide/certifications/welcome/web)                               | _Apple Platform Certifications_ |
| [Profile-Specific Payload Keys](https://developer.apple.com/documentation/devicemanagement/profile-specific_payload_keys) | _Profile-Specific Payload Keys_ |

#### Center for Internet Security

| Document Number or Descriptor | Document Title |
|--------------------------------------------------------------------|------------------------------------------------|
{% for link in additional_links.cis %}
| [{{ link.label }}]({{ link.url }}) | _{{ link.title }}_ |
{% endfor %}
