## Applicable Documents

### Government Documents

#### National Institute of Standards and Technology (NIST)

| Document Number or Descriptor                                                                       | Document Title                              |
|-----------------------------------------------------------------------------------------------------|---------------------------------------------|
| [NIST Special Publication 800-53 Rev 5](https://nvd.nist.gov/800-53)                                | _NIST Special Publication 800-53 Rev 5.1.1_ |
| [NIST Special Publication 800-63](https://www.nist.gov/itl/tig/projects/special-publication-800-63) | _NIST Special Publication 800-63_           |
| [NIST Special Publication 800-171](https://csrc.nist.gov/pubs/sp/800/171/r3/final)                  | _NIST Special Publication 800-171 Rev 3_    |
| [NIST Special Publication 800-219](https://csrc.nist.gov/pubs/sp/800/219/r1/final)                  | _NIST Special Publication 800-219 Rev 1_    |

{% if "STIG" in baseline.title %}
#### Defense Information Systems Agency (DISA)

| Document Number or Descriptor | Document Title |
|-------------------------------|----------------|
{% if os_name == "macOS" %}
{% if os_version == "15.0" %}
| [STIG Ver 1, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_macOS_15_V1R1_STIG.zip) | _Apple macOS 15 (Sequoia) STIG_ |
{% elif os_version == "14.0" %}
| [STIG Ver 1, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_macOS_14_V1R1_STIG.zip) | _Apple macOS 14 (Sonoma) STIG_ |
{% elif os_version == "13.0" %}
| [STIG Ver 1, Rel 3](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_macOS_13_V1R3_STIG.zip) | _Apple macOS 13 (Ventura) STIG_ |
{% elif os_version == "12.0" %}
| [STIG Ver 1, Rel 8](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_macOS_12_V1R8_STIG.zip) | _Apple macOS 12 (Monterey) STIG_ |
{% endif %}
{% elif os_name == "iOS" %}
{% if os_version == "18.0" %}
| [STIG Ver 1, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_iOS-iPadOS_18_V1R1_STIG.zip) | _Apple iOS/iPadOS 18 STIG - Ver 1, Rel 1_ |
{% elif os_version == "17.0" %}
| [STIG Ver 2, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_iOS-iPadOS_17_V2R1_STIG.zip) | _Apple iOS/iPadOS 17 STIG - Ver 2, Rel 1_ |
| [STIG Ver 1, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_iOS-iPadOS_17_BYOAD_Y24M02_STIG.zip) | _Apple iOS/iPadOS 17 BYOAD STIG - Ver 1, Rel 1_ |
{% elif os_version == "16.0" %}
| [STIG Ver 2, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_iOS-iPadOS_16_V2R1_STIG.zip) | _Apple iOS/iPadOS 16 STIG - Ver 2, Rel 1_ |
| [STIG Ver 1, Rel 1](https://dl.dod.cyber.mil/wp-content/uploads/stigs/zip/U_Apple_iOS-iPadOS_16_BYOAD_Y23M08_STIG.zip) | _Apple iOS/iPadOS 16 BYOAD STIG - Ver 1, Rel 1_ |
{% endif %}
{% elif os_name == "visionOS" %}
| | _Currently Unavailable_ |
{% endif %}
{% endif %}

#### Cybersecurity Maturity Model Certification (CMMC)

| Document Number or Descriptor | Document Title |
|----------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------|
| [CMMC Model Overview v2.0](https://dodcio.defense.gov/Portals/0/Documents/CMMC/ModelOverview_V2.0_FINAL2_20211202_508.pdf) | _Cybersecurity Maturity Model Certification (CMMC) Model Overview v2.0_ |

#### Committee on National Security Systems (CNSS)

| Document Number or Descriptor | Document Title |
|------------------------------------------------------------------------|-------------------------------------------------------------------------------|
| [CNSSI No. 1253](https://www.cnss.gov/CNSS/issuances/Instructions.cfm) | _Security Categorization and Control Selection for National Security Systems_ |

### Non-Government Documents

#### Apple

| Document Number or Descriptor                                                                                             | Document Title                  |
|---------------------------------------------------------------------------------------------------------------------------|---------------------------------|
| [Apple Platform Security Guide](https://support.apple.com/guide/security/welcome/web)                                     | _Apple Platform Security_       |
| [Apple Platform Deployment](https://support.apple.com/guide/deployment/welcome/web)                                       | _Apple Platform Deployment_     |
| [Apple Platform Certifications](https://support.apple.com/guide/certifications/welcome/web)                               | _Apple Platform Certifications_ |
| [Profile-Specific Payload Keys](https://developer.apple.com/documentation/devicemanagement/profile-specific_payload_keys) | _Profile-Specific Payload Keys_ |

#### Center for Internet Security

| Document Number or Descriptor | Document Title |
|--------------------------------------------------------------------|------------------------------------------------|
{% if os_name == "macOS" %}
{% if os_version == "15.0" %}
| [Apple macOS 15.0](https://www.cisecurity.org/benchmark/apple_os/) | _CIS Apple macOS 15.0 Benchmark version 1.0.0_ |
{% elif os_version == "14.0" %}
| [Apple macOS 14.0](https://www.cisecurity.org/benchmark/apple_os/) | _CIS Apple macOS 14.0 Benchmark version 2.0.0_ |
{% elif os_version == "13.0" %}
| [Apple macOS 13.0](https://www.cisecurity.org/benchmark/apple_os/) | _CIS Apple macOS 13.0 Benchmark version 3.0.0_ |
{% elif os_version == "12.0" %}
| [Apple macOS 12.0](https://www.cisecurity.org/benchmark/apple_os/) | _CIS Apple macOS 12.0 Benchmark version 3.1.0_ |
{% endif %}
{% elif os_name == "iOS" %}
{% if os_version == "18.0" %}
| [Apple iOS/iPadOS](https://www.cisecurity.org/benchmark/apple_ios) | _CIS Apple iOS 18 and iPadOS 18 Version 1.0.0_ |
{% elif os_version == "17.0" %}
| [Apple iOS/iPadOS](https://www.cisecurity.org/benchmark/apple_ios) | _CIS Apple iOS 17 and iPadOS 17 Version 1.1.0_ |
{% elif os_version == "16.0" %}
| [Apple iOS/iPadOS](https://www.cisecurity.org/benchmark/apple_ios) | _CIS Apple iOS 16 and iPadOS 16 Version 1.1.0_ |
{% endif %}
{% elif os_name == "visionOS" %}
| Apple visionOS                                                     | _Currently Unavailable_                        |
{% endif %}
