<style>
  table {
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
  }

  .outer-table td {
    padding: 10px;
  }

  .nested-table {
    border: none;
    background-color: none;
  }

  .nested-table td {
    padding: 8px 16px;
    border: none;
    border-left: 1px solid black;
  }

  .nested-table td:first-child {
    border-left: none;
  }
</style>

#

