{% set check_tags = ["permanent", "inherent", "n_a"] %}

### {{ rule.title }}

{% if not "supplemental" in rule.tags %}
{{ rule.discussion }}
{% else %}
{{ rule.discussion | include_replace | convert_source_blocks }}
{% endif %}

{%- if rule.mechanism == "manual" %}
**NOTE**: This rule is marked as manual and may not be able to be automated. It is also excluded in the compliance scan and will not report any results.
{% endif -%}

{% if not "supplemental" in rule.tags %}
{% if os_name == "macos" or custom and rule.tags not in check_tags and "[source,bash]" in rule.check %}
To check the state of the system, run the following command(s):
```bash
{{ rule.check | replace("\\\\", "\\") | replace('\\"', '"') | trim | safe }}
```
{% else %}
{{ rule.check | trim | safe }}
{% endif -%}

{% if not rule.tags in check_tags %}

If the result is not *{{ rule.result_value }}*, this is a finding.

**Remediation Description**

Perform the following to configure the system to meet the requirements:
{{ rule.fix | convert_source_blocks }}
{% endif %}

|   |                            |
|---|----------------------------|
{% if rule.severity is not none %}
| ID | {{ rule.rule_id }}<br>{{ rule.severity }} |
{% else %}
| ID | {{ rule.rule_id }} |
{% endif %}

| References |   |
|---|---|
| **800-53r5** | {{ rule.references.nist_controls | group_ulify_md if rule.references.nist_controls is not none else "- N/A" }} |
{% if "800" in baseline.title | upper or show_all_tags %}
| **800-171r3** | {{ rule.references.nist_171 | render_rules_md if rule.references.nist_171 is not none else "- N/A" }} |
{% endif %}
{% if "STIG" in baseline.title | upper or show_all_tags %}
| **DISA STIG(s)** | {{ rule.references.disa_stig | render_rules_md if rule.references.disa_stig is not none else "- N/A" }} |
| **SFR** | {{ rule.references.sfr | render_rules_md if rule.references.sfr is not none else "- N/A" }} |
{% endif %}
{% if "CIS" in baseline.title | upper or show_all_tags %}
| **CIS Benchmark** | {{ rule.references.cis.benchmark | render_rules_md if rule.references.cis.benchmark is not none else "- N/A" }} |
| **CIS Controls V8** | {{ rule.references.cis.controls_v8 | render_rules_md if rule.references.cis.controls_v8 is not none else "- N/A" }} |
{% endif %}
{% if "INDIGO" in baseline.title | upper or show_all_tags %}
| **indigo** | {{ rule.references.indigo | render_rules_md if rule.references.indigo is not none else "- N/A" }} |
{% endif %}
{% if "CMMC" in baseline.title | upper or show_all_tags %}
| **CMMC** | {{ rule.references.cmmc | render_rules_md if rule.references.cmmc is not none else "- N/A" }} |
{% endif %}
| **CCE** | {{ rule.references.cce | render_rules_md }} |
{% if custom %}
| **Custom References** | {{ rule.references.custom_refs | render_rules_md if rule.references.cce is not none else "- N/A" }} |
{% endif %}

{% if show_all_tags %}
| **TAGS** |
| --- |
| {{ rule.tags | render_rules_md }} |
{% endif %}
{% endif %}
