{% from "macros/common_macros.jinja" import h2, h3, render_desc %}

{{ h2(_("Acronyms and Definitions")) }}

{% if output_format == "adoc" %}
.{{ _("Acronyms and Abbreviations") }}
[width="100%",cols="1,3"]
|===
{% for acronym in acronyms %}
| {{ acronym.term }} | {{ acronym.definition }}
{% endfor %}
|===

.{{ _("Definitions") }}
[width="100%",cols="1,3"]
|===
{% for term in terminology %}
| {{ term.term }} | {{ term.definition }}
{% endfor %}
|===
{% elif output_format == "markdown" %}
{{ h3(_("Acronyms and Abbreviations")) }}

<table>
{% for acronym in acronyms %}
<tr>
<td>{{ acronym.term }}</td>
<td>{{ acronym.definition }}</td>
</tr>
{% endfor %}
</table>

{{ h3(_("Definitions")) }}

<table>
{% for term in terminology %}
<tr>
<td>{{ term.term }}</td>
<td>{{ term.definition }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
