{{ "== Acronyms and Definitions" if format == "adoc" else "## Acronyms and Definitions" }}

{% if format == "adoc" %}
.Acronyms and Abbreviations
[width="100%",cols="1,3"]
|===
{% for acronym in acronyms %}
| {{ acronym.term }} | {{ acronym.definition }}
{% endfor %}
|===

.Definitions
[width="100%",cols="1,3"]
|===
{% for term in terminology %}
| {{ term.term }} | {{ term.definition }}
{% endfor %}
|===
{% elif format == "markdown" %}
### Acronyms and Abbreviations

<table>
{% for acronym in acronyms %}
  <tr>
    <td>{{ acronym.term }}</td>
    <td>{{ acronym.definition }}</td>
  </tr>
{% endfor %}
</table>

### Definitions

<table>
  {% for term in terminology %}
  <tr>
    <td>{{ term.term }}</td>
    <td>{{ term.definition }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
