{{ "== Authors" if format == "adoc" else "## Authors" }}
*macOS Security Compliance Project*

{{ "CIS Critical Security Controls® (CIS Controls®) are referenced with the permission and support of the Center for Internet Security® (CIS®)" if "cis" in baseline.title else "" }}

{% if format == "adoc" %}
[width="100%",cols="1,3"]
|===
{% for author in baseline.authors -%}
|{{ author.name }}|{{ author.organization }}
{% endfor -%}
|===
{% elif format == "markdown" %}
<table>
{% for author in baseline.authors %}
  <tr>
    <td>{{ author.name }}</td>
    <td>{{ author.organization }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}