{% if output_format == "markdown" %}
<!-- markdownlint-disable MD033 -->
<style>
  * {
    text-align: left;
  }

  table {
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
  }

  .outer-table {
    width: 100%;
    border: 1px solid;
  }

  .outer-table td {
    padding: 10px;
  }

  .nested-table {
    border: none;
    width: 100%;
    background-color: none;
  }

  .nested-table td {
    padding: 8px 16px;
    border-left: 1px solid;
  }

  .nested-table td:first-child {
    border-left: none;
  }

  .remediation {
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
  }

  .remediation td, .remediation tr {
    border: none;
    width: 100%;
  }
</style>

#
{% elif output_format == "adoc" %}
:doctype: book
:stylesdir: {{ styles_dir }}
:imagesdir: {{ images_dir }}
:stylesheet: asciidoctor.css
:experimental:
:reproducible:
:icons: font
:chapter-label:
:!chapter-signifier:
:listing-caption: Listing
:sectnums:
ifdef::backend-html5[]
:toc: preamble
endif::[]
ifdef::backend-pdf[]
:toc: []
endif::[]
:toclevels: 4
:xrefstyle: full
:source-highlighter: rouge
:nofooter:
:version: {{ version }} ({{ release_date }})
:os: {{ os_version }}
:proj-title: {{ baseline.title }}
:document-title: {{ html_title }}
:document-subtitle: {{ html_subtitle }}
{{ document_subtitle2 }}
:logo-image: image:{{ logo }}[align=center]
ifdef::backend-pdf[]
= {document-title}: {document-subtitle}
{version}
:pdf-themesdir: {stylesdir}
:pdf-theme: {{ pdf_theme }}
:title-logo-image: {logo-image}
:nofooter!:
endif::[]
:data-uri:
:allow-uri-read:
ifdef::backend-html5[]
:notitle:

++++
<div class="title-page">
++++
{logo-image}

[subs=attributes]
++++
  <div class="document-info" id="os" name="{os}">
    <h1 class="doctitle">{document-title}</h1>
    <h2 class="docsub">{document-subtitle}</h2>
    <h3 class="docver">{document-subtitle2}</h3>
    <h3 class="docver">{version}</h3>
  </div>
</div>
++++
endif::[]
{% endif %}
