{% if format == "adoc" %}
{% include "adoc/header.adoc.jinja" %}
{% elif format == "markdown" %}
{% include "markdown/header.md.jinja" %}
{% endif +%}

{%+ include "foreword.jinja" +%}

{%+ include "scope.jinja" +%}

{% include "authors.jinja" %}

{% include "acronyms.jinja" %}

{% if format == "adoc" %}
{% include "adoc/additional_docs.adoc.jinja" %}
{% elif format == "markdown" %}
{% include "markdown/additional_docs.md.jinja" %}
{% endif %}

{% for profile in baseline.profile %}
{% include "section.jinja" %}
{% endfor %}
