{% include "documents/header.jinja" %}

{% include "documents/foreword.jinja" %}

{% include "documents/scope.jinja" %}

{% include "documents/authors.jinja" %}

{% include "documents/acronyms.jinja" %}

{% include "documents/additional_docs.jinja" %}

{% for profile in baseline.profile %}
{% include "documents/section.jinja" %}
{% endfor %}
