{% from "macros/common_macros.jinja" import h2, render_desc %}
{% set desc = t(profile.description_key, profile.description) %}
{{ h2(t(profile.section_key, profile.section)) }}

{{ render_desc(desc) }}

{% for rule in profile.rules %}
{% include "documents/rule.jinja" %}
{% endfor %}
