<?xml version="1.0" encoding="UTF-8"?>
<!--DISA STIG Viewer :: 2.12-->
<CHECKLIST>
  <ASSET>
    <ROLE>None</ROLE>
    <ASSET_TYPE>Computing</ASSET_TYPE>
    <HOST_NAME>{{ stig_data.hostname }}</HOST_NAME>
    <HOST_IP></HOST_IP>
    <HOST_MAC></HOST_MAC>
    <HOST_FQDN></HOST_FQDN>
    <TARGET_COMMENT></TARGET_COMMENT>
    <TECH_AREA></TECH_AREA>
    <TARGET_KEY>5543</TARGET_KEY>
    <WEB_OR_DATABASE>false</WEB_OR_DATABASE>
    <WEB_DB_SITE></WEB_DB_SITE>
    <WEB_DB_INSTANCE></WEB_DB_INSTANCE>
  </ASSET>
  <STIGS>
    <ISTIG>
      <STIG_INFO>
        <SI_DATA>
          <SID_NAME>version</SID_NAME>
          <SID_DATA>1</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>classification</SID_NAME>
          <SID_DATA>UNCLASSIFIED</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>customname</SID_NAME>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>stigid</SID_NAME>
          <SID_DATA>{{ stig_data.stig_id }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>description</SID_NAME>
          <SID_DATA>{{ stig_description }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>filename</SID_NAME>
          <SID_DATA>{{ stig_filename }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>releaseinfo</SID_NAME>
          <SID_DATA>{{ stig_data.stigs[0].release_info }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>title</SID_NAME>
          <SID_DATA>{{ stig_data.title }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>uuid</SID_NAME>
          <SID_DATA>{{ stig_data.id }}</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>notice</SID_NAME>
          <SID_DATA>terms-of-use</SID_DATA>
        </SI_DATA>
        <SI_DATA>
          <SID_NAME>source</SID_NAME>
        </SI_DATA>
      </STIG_INFO>
      {% for rule in stig_data['stigs'][0]['rules'] %}
      <VULN>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Vuln_Num</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.version }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Severity</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.severity }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Group_Title</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.group_tree.title }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Rule_ID</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.rule_id }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Rule_Ver</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.group_tree.id  }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Rule_Title</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.title }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Vuln_Discuss</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.discussion }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>IA_Controls</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('ia_controls', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Check_Content</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('check_content', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Fix_Text</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('fix_text', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>False_Positives</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('false_positives', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>False_Negatives</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('false_negatives', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Documentable</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('documentable', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Mitigations</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('mitigations', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Potential_Impact</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('potential_impacts', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Third_Party_Tools</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('third_party_tools', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Mitigation_Control</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('mitigation_control', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Responsibility</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('responsibility', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Security_Override_Guidance</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('security_override_guidance', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Check_Content_Ref</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('check_content_ref', '').get('name', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Weight</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('weight', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>Class</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('classification', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>STIGRef</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('stig_ref', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>TargetKey</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('target_key', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>STIG_UUID</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('stig_uuid', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        <STIG_DATA>
          <VULN_ATTRIBUTE>LEGACY_ID</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('legacy_ids', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        {% for ccis_ref in rule.ccis %}
        <STIG_DATA>
          <VULN_ATTRIBUTE>CCI_REF</VULN_ATTRIBUTE>
          <ATTRIBUTE_DATA>{{ rule.get('ccis_ref', '') }}</ATTRIBUTE_DATA>
        </STIG_DATA>
        {% endfor %}
        <STATUS>{{ rule.get('status', 'Not_Reviewed') }}</STATUS>
        <FINDING_DETAILS>{{ rule.get('finding_details', '') }}</FINDING_DETAILS>
        <COMMENTS>{{ rule.get('comments', '') }}</COMMENTS>
        <SEVERITY_OVERRIDE>{{ rule.get('severity_override', '') }}</SEVERITY_OVERRIDE>
        <SEVERITY_JUSTIFICATION>{{ rule.get('severity_justification', '') }}</SEVERITY_JUSTIFICATION>
      </VULN>
      {% endfor %}
    </ISTIG>
  </STIGS>
</CHECKLIST>
