id: os_newsyslog_files_owner_group_configure
title: Configure System Log Files Owned by Root and Group to Wheel
discussion: |
  The system log files _MUST_ be owned by root.

  System logs contain sensitive data about the system and users. If log files are set to only be readable and writable by system administrators, the risk is mitigated.
check: |
  /usr/bin/stat -f '%Su:%Sg:%N' $(/usr/bin/grep -v '^#' /etc/newsyslog.conf | /usr/bin/awk '{ print $1 }') 2> /dev/null | /usr/bin/awk '!/^root:wheel:/{print $1}' | /usr/bin/wc -l | /usr/bin/tr -d ' '
result:
  integer: 0
fix: |
  [source,bash]
  ----
  /usr/sbin/chown root:wheel $(/usr/bin/stat -f '%Su:%Sg:%N' $(/usr/bin/grep -v '^#' /etc/newsyslog.conf | /usr/bin/awk '{ print $1 }') 2> /dev/null | /usr/bin/awk -F":" '!/^root:wheel:/{print $3}')
  ----
references:
  cce:
    - N/A
  cci:
    - CCI-001312
    - CCI-001314
  800-53r5:
    - SI-11
  800-53r4:
    - SI-11
  srg:
    - SRG-OS-000206-GPOS-00084
    - SRG-OS-000205-GPOS-00083
  disa_stig:
    - N/A
  800-171r2:
    - N/A
macOS:
  - '15.0'
tags:
  - 800-53r5_moderate
  - 800-53r5_high
  - cnssi-1253_moderate
  - cnssi-1253_low
  - cnssi-1253_high
  - stig
severity: medium
mobileconfig: false
mobileconfig_info:
