id: os_system_wide_applications
title: "Ensure Appropriate Permissions Are Enabled for System Wide Applications"
discussion: |
  Applications in the System Applications Directory (/Applications) _MUST_ not be world-writable.
check: |
  /usr/bin/find /Applications -iname "*\.app" -type d -perm -2 -ls | /usr/bin/wc -l | /usr/bin/xargs
result:
  integer: 0
fix: |
  [source,bash]
  ----
  IFS=$'\n'
  for apps in $( /usr/bin/find /Applications -iname "*\.app" -type d -perm -2 ); do
    /bin/chmod -R o-w "$apps"
  done
  ----
references:
  cce:
    - N/A
  cci:
    - N/A
  800-53r5:
    - N/A
  800-53r4:
    - N/A
  srg:
    - N/A
  disa_stig:
    - N/A
  800-171r2:
    - N/A
  cis:
    benchmark:
      - 5.1.6 (level 1)
  v8:
    - 3.3
macOS:
  - "12.0"
tags:
  - cis_lvl1
  - cisv8
mobileconfig: false
mobileconfig_info:
