id: os_ssh_server_alive_interval_configure
title: "Configure SSH ServerAliveInterval option set to 900 or less"
discussion: |
  SSH _MUST_ be configured with an Active Server Alive Maximum Count set to 900 or less. 
  
  Setting the Active Server Alive Maximum Count to 900 (second) will log users out after a 15-minute interval of inactivity.

  NOTE: /etc/ssh/ssh_config will be automatically modified to its original state following any update or major upgrade to the operating system.
check: |
  /usr/bin/grep -c "^ServerAliveInterval 900" /etc/ssh/ssh_config
result:
  integer: 1
fix: |
  [source,bash]
  ----
  /usr/bin/grep -q '^ServerAliveInterval' /etc/ssh/ssh_config && /usr/bin/sed -i.bak  's/.*ServerAliveInterval.*/ServerAliveInterval 900/' /etc/ssh/ssh_config || /bin/echo 'ServerAliveInterval 900' >> /etc/ssh/ssh_config
  ----
references:
  cce:
    - CCE-91006-7
  cci: 
    - N/A
  800-53r5:
    - SC-10
    - AC-12
  800-53r4: 
    - SC-10
  srg:
    - N/A
  disa_stig:
    - N/A
  800-171r2:
    - 3.13.9
macOS:
  - "12.0"
tags:
  - 800-53r5_moderate
  - 800-53r5_high
  - 800-53r4_moderate
  - 800-53r4_high
  - 800-171
  - cnssi-1253
mobileconfig: false
mobileconfig_info: