== {% trans %}Applicable Documents{% endtrans %}

=== {% trans %}Government Documents{% endtrans %}

[%header, cols=2*a]
.National Institute of Standards and Technology (NIST)
|===
|{% trans %}Document Number or Descriptor{% endtrans %}
|{% trans %}Document Title{% endtrans %}
|link:https://nvd.nist.gov/800-53[NIST Special Publication 800-53 Rev 5]|_NIST Special Publication 800-53 Rev 5.1.1_
|link:https://www.nist.gov/itl/tig/projects/special-publication-800-63[NIST Special Publication 800-63]|_NIST Special Publication 800-63_
|link:https://csrc.nist.gov/pubs/sp/800/171/r3/final[NIST Special Publication 800-171]|_NIST Special Publication 800-171 Rev 3_
|link:https://csrc.nist.gov/pubs/sp/800/219/r1/final[NIST Special Publication 800-219]|_NIST Special Publication 800-219 Rev 1_
|===

{% if "STIG" in baseline.title %}
[%header, cols=2*a]
.Defense Information Systems Agency (DISA)
|===
|Document Number or Descriptor
|Document Title
{% for link in additional_links.disa_stig %}
|link:{{ link.url }}[{{ link.label }}]|{{ link.title }}
{% endfor %}
|===
{% endif %}

[%header, cols=2*a]
.Cybersecurity Maturity Model Certification (CMMC)
|===
|{% trans %}Document Number or Descriptor{% endtrans %}
|{% trans %}Document Title{% endtrans %}
|link:https://dodcio.defense.gov/Portals/0/Documents/CMMC/ModelOverview_V2.0_FINAL2_20211202_508.pdf[CMMC Model Overview v2.0]|_Cybersecurity Maturity Model Certification (CMMC) Model Overview v2.0_
|===

[%header, cols=2*a]
.Committee on National Security Systems (CNSS)
|===
|{% trans %}Document Number or Descriptor{% endtrans %}
|{% trans %}Document Title{% endtrans %}
|link:https://www.cnss.gov/CNSS/issuances/Instructions.cfm[CNSSI No. 1253]|_Security Categorization and Control Selection for National Security Systems_
|===

=== {% trans %}Non-Government Documents{% endtrans %}

[%header, cols=2*a]
.Apple
|===
|{% trans %}Document Number or Descriptor{% endtrans %}
|{% trans %}Document Title{% endtrans %}
|link:https://support.apple.com/guide/security/welcome/web[Apple Platform Security Guide]|_Apple Platform Security_
|link:https://support.apple.com/guide/deployment/welcome/web[Apple Platform Deployment]|_Apple Platform Deployment_
|link:https://support.apple.com/guide/certifications/welcome/web[Apple Platform Certifications]|_Apple Platform Certifications_
|link:https://developer.apple.com/documentation/devicemanagement/profile-specific_payload_keys[Profile-Specific Payload Keys]|_Profile-Specific Payload Keys_
|===

[%header, cols=2*a]
.Center for Internet Security
|===
|Document Number or Descriptor
|Document Title
{% for link in additional_links.cis %}
|link:{{ link.url }}[{{ link.label }}]|{{ link.title }}
{% endfor %}
|===
