  <Benchmark xmlns="http://checklists.nist.gov/xccdf/1.2" id="xccdf_gov.nist.mscp.content_benchmark_macOS_{{ os_version }}" style="SCAP_1.3" resolved="true" xml:lang="en">
    <status date="{{ date_time.split('T')[0] + 'Z' }}">draft</status>
    <title>{{ os_type }} {{ os_version }}: Security Configuration</title>
    <description>
      {{ os_type }} {{ os_version }}: Security Configuration
    </description>
    <reference href="https://csrc.nist.gov/projects/security-content-automation-protocol/scap-releases/scap-1-3">
      <title xmlns="http://purl.org/dc/elements/1.1/">Security Content Automation Protocol</title>
      <publisher xmlns="http://purl.org/dc/elements/1.1/">National Institute of Standards and Technology</publisher>
    </reference>
    <version time="{{ date_time }}" update="https://github.com/usnistgov/macos_security">{{ guidance }}</version>
    <metadata>
      <creator xmlns="http://purl.org/dc/elements/1.1/">National Institute of Standards and Technology</creator>
      <publisher xmlns="http://purl.org/dc/elements/1.1/">National Institute of Standards and Technology</publisher>
      <source xmlns="http://purl.org/dc/elements/1.1/">https://github.com/usnistgov/macos_security/releases/latest</source>
      <contributor xmlns="http://purl.org/dc/elements/1.1/">Bob Gendler - National Institute of Standards and Technology</contributor>
      <contributor xmlns="http://purl.org/dc/elements/1.1/">Dan Brodjieski - National Aeronautics and Space Administration</contributor>
      <contributor xmlns="http://purl.org/dc/elements/1.1/">Allen Golbig - Jamf</contributor>
    </metadata>
