id: system_settings_touchid_unlock_disable
title: "Disable TouchID for Unlocking the Device"
discussion: |
  TouchID enables the ability to unlock a Mac system with a user's fingerprint.

  TouchID _MUST_ be disabled for "Unlocking your Mac" on all macOS devices that are capable of using Touch ID.

  The system _MUST_ remain locked until the user establishes access using an authorized identification and authentication method.
check: |
  /usr/bin/osascript -l JavaScript << EOS
  $.NSUserDefaults.alloc.initWithSuiteName('com.apple.applicationaccess')\
  .objectForKey('allowFingerprintForUnlock').js
  EOS
result:
  string: "false"
fix: |
  This is implemented by a Configuration Profile.
references:
  cce:
    - CCE-93003-2
  cci:
    - N/A
  800-53r5:
    - AC-11
  800-53r4:
    - AC-11
  srg:
    - N/A
  disa_stig:
    - N/A
  800-171r2:
    - 3.1.10
  cmmc:
    - AC.L2-3.1.10
macOS:
  - "14.0"
tags:
  - 800-53r5_moderate
  - 800-53r5_high
  - 800-53r4_moderate
  - 800-53r4_high
  - 800-171
  - cnssi-1253_moderate
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
mobileconfig: true
mobileconfig_info:
  com.apple.applicationaccess:
    allowFingerprintForUnlock: false
