id: system_settings_gatekeeper_override_disallow
title: Configure Gatekeeper to Disallow End User Override
discussion: |
  Gatekeeper _MUST_ be configured with a configuration profile to prevent normal users from overriding its settings.

  If users are allowed to disable Gatekeeper or set it to a less restrictive setting, malware could be introduced into the system.
references:
  nist:
    cce:
      sequoia:
        - CCE-94365-4
      sonoma:
        - CCE-92962-0
      ventura:
        - CCE-91951-4
    800-53r5:
      - CM-5
      - SI-7(15)
    800-171r3:
      - 03.14.02
  disa:
    cci:
      - null
    srg:
      - null
    disa_stig:
      sequoia:
        - null
      sonoma:
        - null
      ventura:
        - null
    cmmc:
      - CM.L2-3.4.5
platforms:
  macOS:
    check: |
      /usr/bin/osascript -l JavaScript << EOS
      $.NSUserDefaults.alloc.initWithSuiteName('com.apple.systempolicy.managed')\
      .objectForKey('DisableOverride').js
      EOS
    result:
      string: 'true'
    fix: |
      This is implemented by a Configuration Profile.
    sequoia:
      severity: medium
    sonoma:
      severity: medium
    ventura:
      severity: medium
tags:
  - 800-53r5_low
  - 800-53r5_moderate
  - 800-53r5_high
  - 800-171
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
  - cnssi-1253_moderate
mobileconfig_info:
  com.apple.systempolicy.managed:
    DisableOverride: true
