id: system_settings_password_hints_disable
title: "Disable Password Hints"
discussion: |
  Password hints _MUST_ be disabled.

  Password hints leak information about passwords that are currently in use and can lead to loss of confidentiality.
check: |
  /usr/bin/osascript -l JavaScript << EOS
  $.NSUserDefaults.alloc.initWithSuiteName('com.apple.loginwindow')\
  .objectForKey('RetriesUntilHint').js
  EOS
result:
  integer: 0
fix: |
  This is implemented by a Configuration Profile.
references:
  cce:
    - CCE-92978-6
  cci:
    - CCI-000366
  800-53r5:
    - IA-6
  800-53r4:
    - IA-6
  srg:
    - SRG-OS-000480-GPOS-00227
  disa_stig:
    - N/A
  800-171r2:
    - 3.5.11
  cis:
    benchmark:
      - 2.10.5 (level 1)
    controls v8:
      - 4.1
  cmmc:
    - IA.L2-3.5.11
macOS:
  - "14.0"
tags:
  - 800-53r5_low
  - 800-53r5_moderate
  - 800-53r5_high
  - 800-53r4_low
  - 800-53r4_moderate
  - 800-53r4_high
  - 800-171
  - cis_lvl1
  - cis_lvl2
  - cisv8
  - cnssi-1253_moderate
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
severity: "medium"
mobileconfig: true
mobileconfig_info:
  com.apple.loginwindow:
    RetriesUntilHint: 0
