id: system_settings_diagnostics_reports_disable
title: "Disable Sending Diagnostic and Usage Data to Apple"
discussion: |
  The ability to submit diagnostic data to Apple _MUST_ be disabled.
  
  The information system _MUST_ be configured to provide only essential capabilities. Disabling the submission of diagnostic and usage information will mitigate the risk of unwanted data being sent to Apple. 
check: " "
fix: |
  This is implemented by a Configuration Profile.
references:
  cce:
    - N/A
  cci: 
    - CCI-001199
  800-53r5:
    - AC-20
    - SC-7(10)
    - SI-11
  sfr:
    - 'FMT_SMF_EXT.1.1 #47a'
  disa_stig:
    - AIOS-16-013400
  800-171r2:
    - N/A
  cis:
    benchmark: 
      - 2.2.1.12 (level 1 - End-User Owned Devices)
      - 3.2.1.25 (level 1 - Institutionally-Owned Devices)
    controls v8:
      - 4.8
ios:
  - "16.0"
tags:
  - ios
  - 800-53r5_low
  - 800-53r5_moderate
  - 800-53r5_high
  - cis_lvl1_byod
  - cis_lvl2_byod
  - cis_lvl1_enterprise
  - cis_lvl2_enterprise
  - cisv8
  - stig
severity: "medium"
supervised: false
mobileconfig: true
mobileconfig_info:
  com.apple.applicationaccess:
    allowDiagnosticSubmission: false
