id: system_settings_software_update_download_enforce
title: Enforce Software Update Downloads Updates Automatically
discussion: |
  Software Update _MUST_ be configured to enforce automatic downloads of updates is enabled.
references:
  nist:
    cce:
      sequoia:
        - CCE-94396-9
      sonoma:
        - CCE-92991-9
      ventura:
        - CCE-91981-1
    800-53r5:
      - null
    800-171r3:
      - null
  disa:
    cci:
      - null
    srg:
      - null
    disa_stig:
      sequoia:
        - null
      sonoma:
        - null
      ventura:
        - null
  cis:
    benchmark:
      sequoia:
        - 1.3 (level 1)
      sonoma:
        - 1.3 (level 1)
      ventura:
        - 1.3 (level 1)
    controls_v8:
      - 7.3
      - 7.4
platforms:
  macOS:
    check: |
      /usr/bin/osascript -l JavaScript << EOS
      $.NSUserDefaults.alloc.initWithSuiteName('com.apple.SoftwareUpdate')\
      .objectForKey('AutomaticDownload').js
      EOS
    result:
      string: 'true'
    fix: |
      This is implemented by a Configuration Profile.
    sequoia:
      benchmarks:
        - cis_lvl1
        - cis_lvl2
    sonoma:
      benchmarks:
        - cis_lvl1
        - cis_lvl2
    ventura:
      benchmarks:
        - cis_lvl1
        - cis_lvl2
tags:
  - cisv8
mobileconfig_info:
  com.apple.SoftwareUpdate:
    AutomaticDownload: true
