<Group id="xccdf_gov.nist.mscp.content_group_all_rules">
  <title>All rules</title>
  <description>
    All the rules
  </description>
  <warning category="general">
    The check/fix commands outlined in this section must be run with elevated privileges.
  </warning>
  {# Rules go here #}
</Group>
</Benchmark>
