/* Color theme variables */
/* Light mode colors rgba(49, 100, 49, 1) */
:root {
  --sl-color-accent: rgb(49, 100, 49);
}

/* Dark mode colors */
:root[data-theme='dark'] {
  --sl-color-accent: rgb(49, 100, 49);
}

/* NIST header styles */
#nistheadergoeshere {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

/* NIST footer styles */
#nistfootergoeshere {
  position: relative;
  z-index: 1000;
}

/* Custom header styles */
.header {
  #position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
}

/* Site title transition and hover effect */
.site-title {
  transition: transform 0.2s ease, color 0.2s ease;
}

.site-title:hover {
  color: #007aff; /* or your accent color */
  cursor: pointer;
  transform: translateY(-4px);
}
