id: audit_folders_mode_configure
title: Configure Audit Log Folders to Mode 700 or Less Permissive
discussion: |
  The audit log folder _MUST_ be configured to mode 700 or less permissive so that only the root user is able to read, write, and execute changes to folders.

  Because audit logs contain sensitive data about the system and users, the audit service _MUST_ be configured to mode 700 or less permissive; thereby preventing normal users from reading, modifying or deleting audit logs.
references:
  nist:
    cce:
      macos_15:
        - CCE-94126-0
      macos_14:
        - CCE-92726-9
      macos_13:
        - CCE-91727-8
    800-53r5:
      - AU-9
    800-171r3:
      - 03.03.08
  disa:
    cci:
      - CCI-000162
      - CCI-000163
      - CCI-000164
      - CCI-001493
      - CCI-001494
      - CCI-001495
    srg:
      - SRG-OS-000256-GPOS-00097
      - SRG-OS-000057-GPOS-00027
      - SRG-OS-000059-GPOS-00029
      - SRG-OS-000257-GPOS-00098
      - SRG-OS-000258-GPOS-00099
      - SRG-OS-000058-GPOS-00028
    disa_stig:
      macos_15:
        - APPL-15-001017
      macos_14:
        - APPL-14-001017
      macos_13:
        - APPL-13-001017
    cmmc:
      - AU.L2-3.3.8
  cis:
    benchmark:
      macos_15:
        - 3.5 (level 1)
      macos_14:
        - 3.5 (level 1)
      macos_13:
        - 3.5 (level 1)
    controls_v8:
      - 3.3
platforms:
  macOS:
    check: |
      /usr/bin/stat -f %A $(/usr/bin/grep '^dir' /etc/security/audit_control | /usr/bin/awk -F: '{print $2}')
    result:
      integer: 700
    fix: |
      [source,bash]
      ----
      /bin/chmod 700 /var/audit
      ----
    '15.0':
      severity: medium
      benchmarks:
        - cis_lvl1
        - cis_lvl2
        - disa_stig
    '14.0':
      severity: medium
      benchmarks:
        - cis_lvl1
        - cis_lvl2
        - disa_stig
    '13.0':
      severity: medium
      benchmarks:
        - cis_lvl1
        - cis_lvl2
        - disa_stig
tags:
  - 800-53r5_low
  - 800-53r5_moderate
  - 800-53r5_high
  - 800-171
  - cisv8
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
  - cnssi-1253_moderate
