id: audit_acls_folders_configure
title: "Configure Audit Log Folder to Not Contain Access Control Lists"
discussion: |
  The audit log folder _MUST_ not contain access control lists (ACLs).

  Audit logs contain sensitive data about the system and users. This rule ensures that the audit service is configured to create log folders that are readable and writable only by system administrators in order to prevent normal users from reading audit logs.
check: |
  /bin/ls -lde /var/audit | /usr/bin/awk '{print $1}' | /usr/bin/grep -c ":"
result:
  integer: 0
fix: |
  [source,bash]
  ----
  /bin/chmod -N /var/audit
  ----
references:
  cce:
    - CCE-91702-1
  cci:
    - N/A
  800-53r5:
    - AU-9
  800-53r4:
    - AU-9
  srg:
    - N/A
  disa_stig:
    - N/A
  800-171r2:
    - 3.3.8
  cis:
    benchmark:
      - 3.5 (level 1)
    controls v8:
      - 3.3
macOS:
  - "13.0"
tags:
  - 800-53r5_low 
  - 800-53r5_moderate 
  - 800-53r5_high 
  - 800-53r4_low 
  - 800-53r4_moderate 
  - 800-53r4_high 
  - 800-171 
  - cis_lvl1
  - cis_lvl2
  - cisv8
severity: "medium"
mobileconfig: false
mobileconfig_info: