id: audit_files_group_configure
title: "Configure Audit Log Files Group to Wheel"
discussion: |
  Audit log files _MUST_ have the group set to wheel.

  The audit service _MUST_ be configured to create log files with the correct group ownership to prevent normal users from reading audit logs. 

  Audit logs contain sensitive data about the system and users. If log files are set to be readable and writable only by root or users with elevated privileges, the risk is mitigated.
check: |
  /bin/ls -n $(/usr/bin/grep '^dir' /etc/security/audit_control | /usr/bin/awk -F: '{print $2}') | /usr/bin/awk '{s+=$4} END {print s}'
result:
  integer: 0
fix: |
  [source,bash]
  ----
  /usr/bin/chgrp -R wheel $(/usr/bin/grep '^dir' /etc/security/audit_control | /usr/bin/awk -F: '{print $2}')
  ----
references:
  cce:
    - CCE-84709-5
  cci:
    - CCI-000162
  800-53r4:
    - AU-9
  srg:
    - SRG-OS-000057-GPOS-00027
  disa_stig:
    - AOSX-14-001014
macOS:
  - "10.15"
tags:
  - cnssi-1253
  - fisma-low
  - fisma-moderate
  - fisma-high
  - STIG
mobileconfig: false
mobileconfig_info: