id: audit_control_owner_configure
title: "Configure Audit_Control Owner to Root"
discussion: |
  /etc/security/audit_control _MUST_ have the owner set to root.
check: |
  /bin/ls -dn /etc/security/audit_control | /usr/bin/awk '{print $3}'
result:
  integer: 0
fix: |
  [source,bash]
  ----
  /usr/sbin/chown root /etc/security/audit_control
  ----
references:
  cce:
    - CCE-92709-5
  cci:
    - N/A
  800-53r5:
    - AU-9
  800-53r4:
    - AU-9
  srg:
    - N/A
  disa_stig:
    - N/A
  800-171r2:
    - N/A
  cis:
    benchmark:
      - 3.5 (level 1)
    controls v8:
      - 3.3
  cmmc:
    - AU.L2-3.3.8
macOS:
  - "14.0"
tags:
  - cis_lvl1
  - cis_lvl2
  - cisv8
  - cnssi-1253_moderate
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
mobileconfig: false
mobileconfig_info: