id: audit_control_group_configure
title: Configure Audit_Control Group to Wheel
discussion: |
  /etc/security/audit_control _MUST_ have the group set to wheel.
references:
  nist:
    cce:
      macos_15:
        - CCE-94107-0
      macos_14:
        - CCE-92707-9
      macos_13:
        - CCE-91707-0
    800-53r5:
      - AU-9
    800-171r3:
      - 03.03.08
  disa:
    cci:
      - CCI-000162
      - CCI-000163
      - CCI-000164
      - CCI-000171
      - CCI-001493
      - CCI-001494
      - CCI-001495
    srg:
      - SRG-OS-000256-GPOS-00097
      - SRG-OS-000057-GPOS-00027
      - SRG-OS-000063-GPOS-00032
      - SRG-OS-000059-GPOS-00029
      - SRG-OS-000257-GPOS-00098
      - SRG-OS-000258-GPOS-00099
      - SRG-OS-000058-GPOS-00028
    disa_stig:
      macos_15:
        - APPL-15-001110
      macos_14:
        - APPL-14-001110
    cmmc:
      - AU.L2-3.3.8
  cis:
    benchmark:
      macos_15:
        - 3.5 (level 1)
      macos_14:
        - 3.5 (level 1)
      macos_13:
        - 3.5 (level 1)
    controls_v8:
      - 3.3
platforms:
  macOS:
    check: |
      /bin/ls -dn /etc/security/audit_control | /usr/bin/awk '{print $4}'
    result:
      integer: 0
    fix: |
      [source,bash]
      ----
      /usr/bin/chgrp wheel /etc/security/audit_control
      ----
    '15.0':
      severity: medium
      benchmarks:
        - cis_lvl1
        - cis_lvl2
        - disa_stig
    '14.0':
      severity: medium
      benchmarks:
        - cis_lvl1
        - cis_lvl2
        - disa_stig
    '13.0':
      benchmarks:
        - cis_lvl1
        - cis_lvl2
tags:
  - cisv8
  - cnssi-1253_low
  - cnssi-1253_high
  - cmmc_lvl2
  - cnssi-1253_moderate
