<style>
  * {
    text-align: left;
  }

  table {
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
  }

  .outer-table {
    width: 100%;
    border: 1px solid;
  }

  .outer-table td {
    padding: 10px;
  }

  .nested-table {
    border: none;
    width: 100%;
    background-color: none;
  }

  .nested-table td {
    padding: 8px 16px;
    border-left: 1px solid;
  }

  .nested-table td:first-child {
    border-left: none;
  }

  .remediation {
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
  }

  .remediation td, .remediation tr {
    border: none;
    width: 100%;
  }
</style>

#

